{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block body %}

	<div class="container-fluid d-flex align-items-center justify-content-center flex-column" id="bg-img">
		<div class="container p-5 d-flex align-items-center justify-content-center">
			<section class="p-5 d-flex align-items-center justify-content-center">
				<div class="p-5 d-flex align-items-center justify-content-center flex-column">
					<h1 class="text-light">Snowtricks</h1>
					<p class="text-light">Un espace de discussion pour tout les passionés de snowboard !</p>
				</div>
			</section>
		</div>
		<div class="d-flex align-items-center justify-content-end w-100">
			<a href="#tricksContainer">
				<img src="/assets/img/arrow-down-square-fill.svg">
			</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center" id="tricksContainer">
				{% include "_partials/_tricks.html.twig" %}
			</div>
			<div class="w-100 d-flex align-items-center justify-content-center">
				<div id="loadingSpinner" class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
			<div class="text-center mt-4">
				<button id="loadMoreButton" class="btn btn-primary">Load More</button>
			</div>
			<div class="d-flex align-items-center justify-content-end w-100">
				<a href="#tricksContainer">
					<img src="/assets/img/arrow-up-square-fill.svg">
				</a>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="/assets/js/index.js"></script>
{% endblock %}